<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Blog</title>
</head>
<body class="bg-gray-400   flex justify-center   ">
    <div class=" bg-black text-white w-4/5 h-fit  pb-10">

        <!-- Heading Blog -->
        <div class="flex justify-center bg-slate-700 ">
            
            <h1 class="text-5xl  self-center m-4 font-[Italiana]">We Blogs</h1>
        </div>
        <div class="flex flex-col gap-5 items-center">

            <div class=" flex flex-col items-center">
            <a href="/articles/new" class=" rounded-md m-4 mb-8  p-2 bg-red-400  "> New Article</a>
        </div>
        <div class= "w-full flex flex-col items-center" >
            
            <% articles.forEach(article=>{ %>
                <div class="bg-white text-black w-4/5 h-fit rounded-md    ">
                    <div class="flex flex-col pl-2 gap-2">
                        <div class=" text-3xl font-extrabold">  <%= article.title %></div>
                        <div class=" text-sm font-light flex gap-2 ">
                            <img height="20" width="20" src="date.svg">  <%= article.createdAt.toLocaleDateString() %>
                        </div> 
                        <%= article.description %> 
                        <div class="text-lg flex  flex-row-reverse ">
                            <a class=" p-2 text-blue-400  " href="articles/<%=article.slug%>">Read More</a>
                            <!-- <a href="/articles/edit/<%= article.id %>" class=" rounded-md m-4 mb-8  p-2 bg-purple-400  " >Edit</a>
                                <form action="/articles/<%= article.id%>?_method=DELETE" method="post">
                                <button class=" rounded-md m-4 mb-8  p-2 bg-red-400  " type="submit">Delete</button>
                            </form> -->
                        </div>
                    </div>
                </div>
                <hr  class=" fill-black pt-2 pb-2">
                <%  }) %> 
                
            </div>
        </div>
    </div>
    </body>
    </html>