<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title> <%= article.title  %>  </title>

</head>
<body class="bg-gray-400   flex justify-center h-fill    ">
    <div class=" bg-black text-white w-4/5 pb-10">


        <div class="flex justify-center bg-slate-700 ">
            
            <h1 class="text-5xl  self-center m-4 font-[Italiana]">We Blogs</h1>
        </div>
        
        <div class="mb-4 flex gap-2 items-center flex-col">
            <h1 class=" text-4xl font-[italian]">
        <%= article.title  %>  
    </h1> 
    <div class="text-muted mb-2 flex gap-2 ">
        <!-- Svg image of date -->
        <svg width="26" height="30" viewBox="0 0 26 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_d_10_594)">
                <path d="M9 14C8.71667 14 8.479 13.904 8.287 13.712C8.09567 13.5207 8 13.2833 8 13C8 12.7167 8.09567 12.479 8.287 12.287C8.479 12.0957 8.71667 12 9 12C9.28333 12 9.521 12.0957 9.713 12.287C9.90433 12.479 10 12.7167 10 13C10 13.2833 9.90433 13.5207 9.713 13.712C9.521 13.904 9.28333 14 9 14ZM13 14C12.7167 14 12.4793 13.904 12.288 13.712C12.096 13.5207 12 13.2833 12 13C12 12.7167 12.096 12.479 12.288 12.287C12.4793 12.0957 12.7167 12 13 12C13.2833 12 13.521 12.0957 13.713 12.287C13.9043 12.479 14 12.7167 14 13C14 13.2833 13.9043 13.5207 13.713 13.712C13.521 13.904 13.2833 14 13 14ZM17 14C16.7167 14 16.4793 13.904 16.288 13.712C16.096 13.5207 16 13.2833 16 13C16 12.7167 16.096 12.479 16.288 12.287C16.4793 12.0957 16.7167 12 17 12C17.2833 12 17.5207 12.0957 17.712 12.287C17.904 12.479 18 12.7167 18 13C18 13.2833 17.904 13.5207 17.712 13.712C17.5207 13.904 17.2833 14 17 14ZM4 4H7V2H9V4H17V2H19V4H22V22H4V4ZM6 20H20V10H6V20Z" fill="white"/>
            </g>
            <defs>
            <filter id="filter0_d_10_594" x="-3" y="0" width="32" height="32" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset dy="4"/>
            <feGaussianBlur stdDeviation="2"/>
            <feComposite in2="hardAlpha" operator="out"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_10_594"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_10_594" result="shape"/>
            </filter>
        </defs>
    </svg>
             <%= article.createdAt.toLocaleDateString() %> 
    </div> 
    <div class=" text-xl p-4  ">
        <%-article.sanitizedHtml%>     
        
    </div>
    <div class="flex gap-3 justify-evenly bg-slate-700   w-full ">
        
       <a href="/" class=" flex gap-2 items-center text-xl text-gray-300 hover:text-white">All Articles
           <!-- Svg of Artcile -->
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M23.1429 -2.92708e-05H17.0143C15.6991 -2.92708e-05 14.4134 0.48161 13.3071 1.39024L12 2.45941L10.6929 1.39024C9.58771 0.481785 8.30056 -0.000925891 6.98571 -2.92708e-05H0.857143C0.383036 -2.92708e-05 0 0.488442 0 1.09305V20.4953C0 21.0999 0.383036 21.5884 0.857143 21.5884H6.98571C8.30089 21.5884 9.58661 22.07 10.6929 22.9786L11.8821 23.9556C11.917 23.9829 11.9571 24 11.9973 24C12.0375 24 12.0777 23.9863 12.1125 23.9556L13.3018 22.9786C14.4107 22.07 15.6991 21.5884 17.0143 21.5884H23.1429C23.617 21.5884 24 21.0999 24 20.4953V1.09305C24 0.488442 23.617 -2.92708e-05 23.1429 -2.92708e-05ZM6.98571 19.1289H1.92857V2.45941H6.98571C7.93393 2.45941 8.85536 2.80441 9.65089 3.45685L10.958 4.52602L11.1429 4.67973V20.4611C9.86786 19.5866 8.44286 19.1289 6.98571 19.1289ZM22.0714 19.1289H17.0143C15.5571 19.1289 14.1321 19.5866 12.8571 20.4611V4.67973L13.042 4.52602L14.3491 3.45685C15.1446 2.80441 16.0661 2.45941 17.0143 2.45941H22.0714V19.1289ZM8.91696 6.83174H3.94018C3.83571 6.83174 3.75 6.94788 3.75 7.08793V8.62508C3.75 8.76513 3.83571 8.88127 3.94018 8.88127H8.91429C9.01875 8.88127 9.10446 8.76513 9.10446 8.62508V7.08793C9.10714 6.94788 9.02143 6.83174 8.91696 6.83174ZM14.8929 7.08793V8.62508C14.8929 8.76513 14.9786 8.88127 15.083 8.88127H20.0571C20.1616 8.88127 20.2473 8.76513 20.2473 8.62508V7.08793C20.2473 6.94788 20.1616 6.83174 20.0571 6.83174H15.083C14.9786 6.83174 14.8929 6.94788 14.8929 7.08793ZM8.91696 11.614H3.94018C3.83571 11.614 3.75 11.7301 3.75 11.8702V13.4073C3.75 13.5474 3.83571 13.6635 3.94018 13.6635H8.91429C9.01875 13.6635 9.10446 13.5474 9.10446 13.4073V11.8702C9.10714 11.7301 9.02143 11.614 8.91696 11.614ZM20.0598 11.614H15.083C14.9786 11.614 14.8929 11.7301 14.8929 11.8702V13.4073C14.8929 13.5474 14.9786 13.6635 15.083 13.6635H20.0571C20.1616 13.6635 20.2473 13.5474 20.2473 13.4073V11.8702C20.25 11.7301 20.1643 11.614 20.0598 11.614Z" fill="#F8F8F8"/>
        </svg>            
        
    </a>
       <div class=" p-2">
           
           <a href="/articles/edit/<%= article.id %> " class="flex gap-2 items-center text-xl text-gray-300 hover:text-white">Edit
               <!-- svg image of Edit -->
               <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                   <path d="M7 17.013L11.413 16.998L21.045 7.458C21.423 7.08 21.631 6.578 21.631 6.044C21.631 5.51 21.423 5.008 21.045 4.63L19.459 3.044C18.703 2.288 17.384 2.292 16.634 3.041L7 12.583V17.013V17.013ZM18.045 4.458L19.634 6.041L18.037 7.623L16.451 6.038L18.045 4.458ZM9 13.417L15.03 7.444L16.616 9.03L10.587 15.001L9 15.006V13.417Z" fill="#F8F8F8"/>
                   <path d="M5 21H19C20.103 21 21 20.103 21 19V10.332L19 12.332V19H8.158C8.132 19 8.105 19.01 8.079 19.01C8.046 19.01 8.013 19.001 7.979 19H5V5H11.847L13.847 3H5C3.897 3 3 3.897 3 5V19C3 20.103 3.897 21 5 21Z" fill="#F8F8F8"/>
                </svg>
            </a>
            
        </div>
        <div class=" p-2">
            <form action="/articles/<%= article.id%>?_method=DELETE" method="post">
                <button class="flex gap-2 items-center text-xl text-gray-300 hover:text-white" type="submit">Delete  
                    <!-- svg image of delete -->
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.71429 4.36605V1.79309C7.71429 1.56577 7.80459 1.34777 7.96534 1.18704C8.12608 1.0263 8.3441 0.936005 8.57143 0.936005H15.4286C15.6559 0.936005 15.8739 1.0263 16.0347 1.18704C16.1954 1.34777 16.2857 1.56577 16.2857 1.79309V4.36605H23.1429C23.3702 4.36605 23.5882 4.45634 23.7489 4.61708C23.9097 4.77781 24 4.99581 24 5.22313C24 5.45044 23.9097 5.66844 23.7489 5.82917C23.5882 5.98991 23.3702 6.08021 23.1429 6.08021H0.857143C0.629814 6.08021 0.411797 5.98991 0.251051 5.82917C0.0903058 5.66844 0 5.45044 0 5.22313C0 4.99581 0.0903058 4.77781 0.251051 4.61708C0.411797 4.45634 0.629814 4.36605 0.857143 4.36605H7.71429ZM9.42857 4.36605H14.5714V2.65188H9.42857V4.36605ZM3.42857 24.936C3.20124 24.936 2.98323 24.8457 2.82248 24.685C2.66173 24.5242 2.57143 24.3062 2.57143 24.0789V6.08021H21.4286V24.0789C21.4286 24.3062 21.3383 24.5242 21.1775 24.685C21.0168 24.8457 20.7988 24.936 20.5714 24.936H3.42857ZM9.42857 19.7935C9.6559 19.7935 9.87392 19.7032 10.0347 19.5425C10.1954 19.3817 10.2857 19.1637 10.2857 18.9364V10.3656C10.2857 10.1383 10.1954 9.9203 10.0347 9.75957C9.87392 9.59883 9.6559 9.50853 9.42857 9.50853C9.20124 9.50853 8.98323 9.59883 8.82248 9.75957C8.66173 9.9203 8.57143 10.1383 8.57143 10.3656V18.9364C8.57143 19.1637 8.66173 19.3817 8.82248 19.5425C8.98323 19.7032 9.20124 19.7935 9.42857 19.7935ZM14.5714 19.7935C14.7988 19.7935 15.0168 19.7032 15.1775 19.5425C15.3383 19.3817 15.4286 19.1637 15.4286 18.9364V10.3656C15.4286 10.1383 15.3383 9.9203 15.1775 9.75957C15.0168 9.59883 14.7988 9.50853 14.5714 9.50853C14.3441 9.50853 14.1261 9.59883 13.9653 9.75957C13.8046 9.9203 13.7143 10.1383 13.7143 10.3656V18.9364C13.7143 19.1637 13.8046 19.3817 13.9653 19.5425C14.1261 19.7032 14.3441 19.7935 14.5714 19.7935Z" fill="#F8F8F8"/>
                    </svg>
                </button>
            </form> 
           
            
            
            
        </div>
   </div>

</div>
    
</div>
</body>
</html>